/* Container for Translator */
.translator-container {
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease;
    /* 为背景色添加平滑过渡效果 */
}

/* Background color change when recording */
.translator-container.listening {
    background-color: #ADD8E6;
    /* 浅蓝色 */
}

/* Button Styling */
.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}

/* Text container */
.text-container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

/* Recognized text title styling */
.recognized-text-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

/* Recognized text paragraph styling */
.recognized-text,
.recipe-text {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
}

/* Recipe text styling */
.recipe-text {
    font-style: italic;
    color: #444;
}