/* CSS for gradient shapes */

/* centering */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#context{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1, 1fr);
  perspective: 600px;
  transform-style: preserve-3d;
}

#rect {
  width: 360px;
  height: 360px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  perspective: 600px;
  transform-style: preserve-3d;
}

#circle {
  width: 360px;
  height: 360px;
  transform: rotateY(90deg);
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  perspective: 600px;
  transform-style: preserve-3d;
}

/* #context:hover{
  transform: rotateY(90deg);
  transition: 2s;
} */

.square {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  /* border: 2px solid; */
  border-color: aliceblue;
  background: linear-gradient(to bottom right, aquamarine, purple);
}

.blank {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  opacity: 30%;
}

/* target the first child of its parent */

/* .square:nth-child(1) {
  transform: translateZ(-100px);
} */
