<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project | three.js</title>
  <style>
    #toggleListening {
      display: none;
    }
  </style>

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <!-- import the supplementary libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/16/Stats.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"></script>

  <!-- import the three.js library -->
  <script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.156.1/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.156.1/examples/jsm/"
      }
    }
  </script>
  <script type="module">
    import * as THREE from 'three';
    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
    console.log("3:", THREE);
    window.THREE = THREE;
    window.OrbitControls = OrbitControls;
    // import { Noise } from 'noisejs'; // 确保这个模块能够访问到THREE
    // window.Noise = Noise;
  </script>

  <!-- import your scripts here! -->
  <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  <script src="{{url_for('static', filename='js/particleClass.js')}}"></script>
  <script src="{{url_for('static', filename='js/three-utils.js')}}"></script>
  <script defer src="{{url_for('static', filename='js/script-three.js')}}"></script>
  <script defer src="{{url_for('static', filename='js/main.js')}}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->
</head>

<body>
  <!-- <script type="text/javascript">
    $(document).ready(function() {

        var socket = io.connect('http://127.0.0.1:5000');

        socket.on('connect', function() {
            socket.send('User has connected!');
            spacePressed = false;
        });

        socket.on('message', function(msg) {
            console.log('Received message');
            if (msg == "true") {
              spacePressed = true;
            } 
        });

        $('#sendbutton').on('click', function() {
            console.log("test");
            socket.send("true");
        });

    });
    </script> -->

  <h1>Speech Recognition</h1>
  <br />
  <button id="toggleListening">Start Listening</button>
  <!-- <div>
    <h3>Recognized Text:</h3>
    <p id="recognizedText">No text recognized yet.</p>
    <h3>Recipe:</h3>
    <p id="recipeDetails">No recipe details available.</p>
  </div> -->
  <script src="{{ url_for('static', filename='js/speech_recognition.js') }}"></script>


  <div id="container-three"></div>

</body>



</html>