span{
    font-size: 40px;
    position: relative;
    transition: 2s;
  }

#content{
    margin: 200px;
    margin-right: 50px;
    width: 600px;
    height: auto;
    font-family: 'Fredericka the Great', cursive;
    
}

img{
    width:80%;
    display: block;
    top:100px;
    left:0px;
    transform:rotate(0deg);
    transition: all 5s;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  